.btn {
  height: 40px;
  padding: 5px 10px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: rgba(186, 210, 255, 0.6);
  }
}
