.today {
  text-align: center;

  .place {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
  }

  .country {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .date {
    font-size: 40px;
  }

  .time {
    font-size: 40px;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-weather {
    text-transform: uppercase;
    font-size: 40px;
  }

  .about-icon {
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
  }

  .parameters {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 700px) {
      flex-wrap: wrap;
    }
  }

  .temperature {
    font-size: 130px;
  }

  .details {
    margin-left: 30px;
    text-align: left;

    .feel,
    .speed,
    .humidity {
      font-size: 30px;
    }
  }
}
