.today {
  text-align: center;
  color: #ffffff;
  font-family: "RobotoRegular";

  @media only screen and (max-width: 760px) {
    margin-bottom: 16px;
  }

  .today__location {
    &.location {
      .location__country {
        margin: 0;

        span {
          font-size: 60px;
          letter-spacing: 2px;
        }
      }

      .location__place {
        margin: 0;

        span {
          font-size: 55px;
        }
      }
    }
  }

  .today__date {
    &.date {
      .date__text {
        font-size: 40px;
      }
    }
  }

  .today__time {
    &.time {
      .time__old {
        font-size: 40px;
      }
    }
  }

  .today__about-weather {
    display: flex;
    justify-content: center;
    align-items: center;

    &.about-weather {
      .about-weather__wrapper {
        .about-weather__text {
          font-size: 40px;
          font-family: "RobotoMedium";
          text-transform: uppercase;
        }
      }

      .about-weather__icon {
        width: 200px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;
      }
    }
  }

  .today__parameters {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 760px) {
      flex-wrap: wrap;
    }

    &.parameters {
      .parameters__temperature {
        font-size: 130px;
      }
    }
  }

  .today__details {
    margin-left: 30px;
    text-align: left;

    &.details {
      .details__feel,
      .details__speed,
      .details__humidity {
        span {
          font-size: 30px;
        }
      }
    }
  }
}
