.today {
  text-align: center;
}

.location {

}

.city {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
}

.country {
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.date {
  font-size: 40px;
}

.time {
  font-size: 40px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutWeather {
  font-size: 40px;
}

.aboutIcon img {
  width: 150px;
  height: 150px;
}

.parameters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  font-size: 130px;
}

.details {
  margin-left: 30px;
  text-align: left;
}

.feel, .speed, .humidity, .country {
  font-size: 30px;
}