.today {
  text-align: center;
}

.location {

}

.city {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
}

.country {
  margin: 0;
  font-size: 25px;
}

.date {
  font-size: 40px;
}

.time {
  font-size: 40px;
}

.about {

}

.aboutWeather {
  font-size: 40px;
}

.aboutIcon {
  
}

.parameters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  font-size: 130px;
}

.details {
  margin-left: 30px;
  text-align: left;
}

.feel {
  font-size: 30px;
}

.speed {
  font-size: 30px;
}

.humidity {
  font-size: 30px;
}

