.control-panel {
  .control-panel__layout {
    display: flex;

    .control-panel__actions-wrapper,
    .control-panel__selectors-wrapper {
      display: flex;
      border: 2px #ffffff solid;
      border-radius: 5px;

      .control-panel__button {
        height: 40px;
        width: 40px;
        font-size: 18px;
        font-weight: bold;
      }
    }

    & > div:nth-child(2) {
      margin: 0 10px;
    }

    .control-panel__selectors-wrapper {
      .select-button {
        &.select-button_selected {
          color: cyan;

          svg {
            fill: cyan;

            path {
              fill: cyan;
            }
          }
        }
      }
    }
  }
}
