.control-panel {
  @media only screen and (max-width: 760px) {
    width: 100%;
    margin-bottom: 20px;
  }

  .control-panel__layout {
    display: flex;

    @media only screen and (max-width: 760px) {
      justify-content: space-between;
    }

    .control-panel__actions-wrapper,
    .control-panel__selectors-wrapper {
      display: flex;
      border: 2px #ffffff solid;
      border-radius: 5px;

      .control-panel__button {
        height: 40px;
        width: 40px;
        font-size: 18px;
        font-weight: bold;
      }
    }

    & > div:nth-child(2) {
      margin: 0 10px;

      @media only screen and (max-width: 760px) {
        margin: 0;
      }
    }

    .control-panel__selectors-wrapper {
      .select-button {
        &.select-button--selected {
          color: cyan;

          svg {
            fill: cyan;

            path {
              fill: cyan;
            }
          }
        }
      }
    }
  }
}
