.btn {
  height: 40px;
  padding: 5px 10px;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.btn:hover {
  background:rgba(186,210,255,.6)
}