.search-panel {
  width: 100%;
  max-width: 400px;
  display: flex;
}

.search-panel form {
  display: flex;
}

.search-panel input {
  font-size: 20px;
}

.search-panel button:nth-child(2) {
  border-left: 0;
  border-right: 0;
}

.search-panel button[type="button"]:nth-child(2) {
  background-image: url("./assets/microphone2.png");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 40px;
  background-position: center;
}

.search-panel button[type="button"]:nth-child(3) {
  background-image: url("./assets/keyboard1.png");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 40px;
  background-position: center;
}

.search-panel button:nth-child(3) {
  border-left: 0;
  border-right: 0;
}

.search-panel button[type="submit"] {
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 40px;
  background-position: center;
}

.speaked {
  box-shadow: 0 0 10px 10px;
}

@media only screen and (max-width: 730px) {
  .search-panel {
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .search-panel {
    width: 300px;
  }
  .search-panel .search-input {
    width: 175px;
  }
}
