.search-panel {
  height: 40px;
  max-width: 400px;
  width: 100%;
  display: flex;
  border: 2px #ffffff solid;
  box-sizing: border-box;
  border-radius: 5px;

  @media only screen and (max-width: 760px) {
    max-width: none;
  }

  &.search-panel--speaking {
    box-shadow: 0 0 10px 10px;
  }

  .search-panel__layout {
    width: 100%;
    display: flex;

    .search-panel__form {
      width: 100%;
      display: flex;

      &.search-form {
        .search-form__input {
          padding: 0 0 0 8px;
          flex: 1;
          font-size: 20px;
          border: none;
        }

        .search-form__speak-button,
        .search-form__submit-button {
          height: 40px;
          width: 40px;
          padding: 4px;
        }
      }
    }
  }
}
