.weather-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 5%;
  text-align: center;
}

.weather-card .date {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.weather-card .temperature {
  width: 100%;
  font-size: 40px;
}

.weather-card .weather-info {
  width: 100%;
  font-size: 25px;
}