.weather-card {
  max-width: 33%;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  font-family: "RobotoRegular";
  text-align: center;

  .weather-card__date {
    width: 100%;

    &.date {
      .date__text {
        font-size: 22px;

        @media only screen and (max-width: 760px) {
          font-size: 30px;
        }
      }
    }
  }

  .weather-card__info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.info {
      .info__description {
        .info__text {
          font-size: 18px;
          text-transform: uppercase;

          @media only screen and (max-width: 760px) {
            font-size: 25px;
          }
        }
      }

      .info__icon {
        width: 115px;
        height: 55px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75px;

        @media only screen and (max-width: 760px) {
          width: 160px;
          height: 60px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100px;
        }
      }
    }
  }

  .weather-card__temperature {
    &.temperature {
      width: 100%;

      .temperature__text {
        font-size: 40px;

        @media only screen and (max-width: 760px) {
          font-size: 60px;
        }
      }
    }
  }
}
