.weather-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}

.weather-card .date {
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.weather-card .temperature {
  width: 100%;
  font-size: 40px;
}

.weather-card .weather-info {
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card .weather-three-icon {
  width: 115px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75px;
}

@media only screen and (max-width: 760px) {
  .weather-card .date {
    font-size: 30px;
  }

  .weather-card .weather-info {
    font-size: 25px;
  }

  .weather-card .temperature {
    font-size: 60px;
  }

  .weather-card .weather-three-icon {
    width: 175px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
  }
}
