body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/default-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "RobotoBold";
  src: url("./assets/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Bold.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Medium.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/roboto/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
