.map-wrapper {
  width: 400px;
  margin-left: auto;
  border-radius: 10px;
}

.coordinates {
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  color: white;
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-map {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 63%, 100% 100%, 88% 89%, 0 89%);
}

@media only screen and (max-width: 960px) {
  .map-wrapper {
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .map-wrapper {
    width: 300px;
  }

  .map-wrapper [tabindex='0'] {
    width: 300px !important;
    margin: auto;
  }
}
