.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media only screen and (max-width: 1400px) {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 760px) {
    margin-bottom: 16px;
  }
}
